<header class="header" id="header">
    <nav id="menu" class="menu">
        <a routerLink="/login"  routerLinkActive="active">Login</a>
        <a routerLink="/signup" routerLinkActive="active">SignUp</a>
    </nav>

    
    <div id="logo" class="logo">
      <div id="svg" class="svg">
        <div>
            <a routerLink ="/home" ><img src="/assets/media/logo3.gif" alt=""> </a>
        </div>
        <div>
          <h2  id="titulo">Numisred-Co</h2>
        </div>
        
      </div>   
    </div>
  </header>