body{
    margin: 0%;
    border: 0px;

    background-image:url(/assets/media/fondo3.jpg) ;
    //background-color:rgba(235, 228, 217, 0.685);
    width: 100%;
}

.contenedor{
    margin: 0px;
    height: 100%;
}